
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://bit.ly/3l4lBFp" width="70" height="40" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Member" asp-action="Index">Member Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Security" asp-action="SignUp">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Security" asp-action="SignIn">Sign In</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <script src="/jquery/jquery.js"></script>
    <script src="/jquery-validate/jquery.validate.min.js"></script>
    <script src="/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
