@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">

        <h4>I forgot my password</h4>
        <hr />

        <div class="alert alert-info">
            Enter your e-mail address to set a new password.  We will send thepassword change link to your e-mail address.
        </div>

        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>